<%# Placeholder until P2 ports the EA logout page markup. %>
<h1>Log Out</h1>
<p>You have been successfully logged out.</p>
<a href="<%= root_path %>">Book an appointment</a>
<a href="<%= login_path %>">Log in</a>
