<div id="messages-logs-page" class="container backend-page py-3">
    <div class="row">
        <div class="col-sm-3">
            <%= render "shared/messages_nav" %>
        </div>
        <div id="messages-logs" class="col-sm-9">
            <h4 class="border-bottom py-3 mb-3 fw-light">
                <%= lang('messages_logs') %>
            </h4>

            <%= render "shared/messages_log_table",
                       messages: vars(:log_messages), page: vars(:log_page),
                       last_page: vars(:log_last_page), base_path: "/messages_logs" %>
        </div>
    </div>
</div>
